[Unit]
Description=gunicorn daemon for flask app
After=network.target


[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/app/backend
Environment="PATH=/home/ubuntu/app/backend/venv/bin"
ExecStart=/home/ubuntu/app/backend/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 wsgi:app


[Install]
WantedBy=multi-user.target